<h1>Teams</h1>

<table>
  <thead>
    <tr>
      <th>所属チーム</th>
      <th></th>
      <th>チームのタスク</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= link_to 'チームの詳細', team %></td>
        <td><%= team.tasks.name %></td>
        <td><%= link_to 'チームのタスク', team_tasks_path(team.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
