<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Reward:</strong>
  <%= @team.reward %>
</p>

<p>
  <strong>Period:</strong>
  <%= @team.period %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
