<%= form_with(model: [task, comment], local: false) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>
      <%= form.label :content %><br />
      <%= form.text_area :content %>
    </p>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<style>
input, textarea{
  width:100%;
}
</style>