<%= form_with(model: [team, task], url:choose_new_or_edit, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'カテゴリー＊' %>
    <%= form.collection_select :category_id, @categories, :id, :name, :include_blank => "カテゴリを選択してください" %>
    <% if (params[:team_id]).present?  %>
      <% @team_id = params[:team_id] %>
    <% elsif  (params[:task][:team_id]).present? %>
      <% @team_id = params[:task][:team_id] %>
    <% end %>
    <%= link_to "新しいカテゴリを追加する", new_team_category_path(team_id: @team_id) %>
  </div>

  <div class="field">
    <%= form.label 'タスク名＊' %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label '期限＊' %>
    <%= form.date_field :expired_at %>
  </div>

  <div class="field">
    <%= form.label '補足' %>
    <%= form.text_area :remarks %>
  </div>

  <div class="field">
    <%= form.label '画像' %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label '状況' %>
    <%= form.check_box :status %>
  </div>

  <div class="field">
    <%= form.label '繰り返し' %>
    <%= form.check_box :repeat %>
  </div>

  <%= form.hidden_field :team_id, :value => @team_id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
