<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<strong>チームのMVP</strong>
<%= button_to 'mvpを決める！', mvp_team_path(params[:team_id]), method: :get %>

<table>
  <thead>
    <tr>
      <th>
        <%= link_to "状況", team_tasks_path(sort_status: "true")%>
      </th>
      <th>カテゴリー</th>
      <th>タスク名</th>
      <th>
        <%= link_to "期限", team_tasks_path(sort_expired: "true") %>
      </th>
      <th>
        <%= link_to "作成日", team_tasks_path(sort_created: "true")%>
      </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.status %></td>
        <td><%= task.category.name %></td>
        <td><%= task.name %></td>
        <% if (task.expired_at - @date).to_i < 7 %>
            <td class="urgent">
              <span class="urgent"><%= task.expired_at %></span>
            </td>
          <% else %>
            <td><%= task.expired_at %></td>
        <% end %>
        <td><%= task.created_at.strftime('%Y-%m-%d') %></td>
        <% count = (task.expired_at - task.created_at.to_date).to_i %>
        <% today = (task.expired_at - @date.tomorrow).to_i %>
        <% if count > 0 || today > 0 %>
          <% @expired_at_count = today*100/count %>
        <% else %>
          <% @expired_at_count = 0 %>
        <% end %>
        <td>
          <label for="file">リミット:</label>
          <progress id="file" max="100" value=<%= @expired_at_count %>></progress>
        </td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(id:task.id, team_id:task.team_id) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task',  new_team_task_path(params[:team_id]) %>

<style>
.urgent{
  color: red;
}
label {
    padding-right: 10px;
    font-size: 1rem;
}
  progress {
    -webkit-appearance: none;
  }
  ::-webkit-progress-bar {
    background-color: #dadce0 ;
  }
  ::-webkit-progress-value {
    background-color: #4E889A ;
  }
</style>