<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>
        <%= link_to "状況", team_tasks_path(sort_status: "true")%>
      </th>
      <th>カテゴリー</th>
      <th>タスク名</th>
      <th>
        <%= link_to "期限", team_tasks_path(sort_expired: "true") %>
      </th>
      <th>
        <%= link_to "作成日", team_tasks_path(sort_created: "true")%>
      </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.status %></td>
        <td><%= task.category.name %></td>
        <td><%= task.name %></td>
        <% if (task.expired_at - @date).to_i < 14 %>
            <td class="urgent">
              <span class="urgent"><%= task.expired_at %></span>
            </td>
          <% else %>
            <td><%= task.expired_at %></td>
        <% end %>
        <td><%= task.created_at.strftime('%Y-%m-%d') %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(id:task.id, team_id:task.team_id) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task',  new_team_task_path(params[:team_id]) %>

<style>
.urgent{
  color: red;
}
</style>