<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class = "card">
        <div class="card-body">
          <h1>Tasks List</h1>
          <p class="col-lg-12 title">- タスク一覧 -</p>

          <div class="row justify-content-center">
            <button class="btn btn-red col-4 ">
              <i class="fa fa-plus-square white" aria-hidden="true" style="#fff"></i>
              <%= link_to '新しいタスクを作成',  new_team_task_path(params[:team_id]), id:'rspec-task-new'%>
            </button>
          </div>

          <div class="explanation">
            <ul>
              <li>
                <i class="bi bi-asterisk"></i>
                <span class="underline thin">自分が実行したタスクに<i class="bi bi-check-circle-fill"></i></span>をつけましょう！チームに1番貢献した人は<span class="underline thin">「MVPを決める」ボタン</span>見ることができます！
              </li>
              <li>
                <i class="bi bi-asterisk"></i>
                "<span class="underline thin">未実行で期限まで2週間以内のタスク</span>"は日付に下線が付き、タスクの一覧をまとめて<span class="underline thin">毎週日曜日にメールで配信</span>します
              </li>
              <li>
                <i class="bi bi-asterisk"></i>
                アイコンの説明：<i class="bi bi-arrow-counterclockwise"></i>繰り返し、<i class="bi bi-card-image"></i>写真有り、<i class="bi bi-journal-text"></i>補足有り、<i class="bi bi-chat-left-dots"></i>コメント有り(「詳細」をご覧ください)
              </li>
            </ul>
          </div>

          <div class="team-reward">
            <div class="left-reward">
              <span class="reward">
                <i class="bi bi-sun"></i>チームのご褒美/目標<i class="bi bi-sun"></i></span>
              <%= @team.reward%>
            </div>
            <div class="right-btn ml-auto">
              <span class="btn btn-outline-secondary">
                <i class="bi bi-award red"></i><%= link_to 'MVPを決める', mvp_team_path(params[:team_id]), method: :get %>
              </span>
              <span class="btn btn-outline-success">
                <%= link_to team_path(params[:team_id]) do %><i class="bi bi-people-fill green"></i>チームの詳細<% end %>
              </span>
            </div>
          </div>

          <div class="sort">
            <i class="bi bi-caret-down-square-fill grey"></i>
            <%= link_to "未実行のみ絞り込む", team_tasks_path(choice_status: "true")%>
            <i class="bi bi-caret-down-square-fill grey"></i>
            <%= link_to "実行状況で並び替え", team_tasks_path(sort_status: "true")%>
            <i class="bi bi-caret-down-square-fill grey"></i>
            <%= link_to "期限で並び替え", team_tasks_path(sort_expired: "true") %>
            <i class="bi bi-caret-down-square-fill grey"></i>
            <%= link_to "作成日で並び替え", team_tasks_path(sort_created: "true")%>
          </div>

          <% @tasks.each do |task| %>
            <div class="col-lg-12">
              <div class="card-task">
                <div class="card-header d-lg-flex d-md-flex d-sm-flex">
                  <div class="left-box d-lg-flex d-md-flex">
                  <div class="category-box m-1">
                    <span class="column category">カテゴリ</span><%= task.category.name %>
                  </div>
                  <div class="task-box m-1">
                    <span class="column name">タスク</span><span class="rspec" style="font-weight:bold;, font-size:18px;"><%= task.name %></span>
                  </div>
                  </div>
                  <div class="right-box ml-auto d-lg-flex d-md-flex">
                    <div class="icon-box m-1" style="text-align:right;">
                      <% if task.repeat == true %>
                        <label><i class="bi bi-arrow-counterclockwise"></i></label>
                      <% else %>
                        <label></label>
                      <% end %>
                      <% if task.image.present? %>
                        <label><i class="bi bi-card-image"></i></label>
                      <% else %>
                        <label></label>
                      <% end %>
                      <% if task.remarks.present? %>
                        <label><i class="bi bi-journal-text"></i></label>
                      <% else %>
                        <label></label>
                      <% end %>
                      <% if task.comments.present? %>
                        <label><i class="bi bi-chat-left-dots"></i></label>
                      <% else %>
                        <label></label>
                      <% end %>
                    </div>
                    <div class="column create" style="text-align:right;">作成日:<%= task.created_at.strftime('%Y-%m-%d') %></div>
                  </div>
                </div>

                <div class="card-body task d-lg-flex d-md-flex">
                  <div class="left-contents">

                    <%= render "tasks/update_status", task: task %>

                    <% if (task.expired_at - @date).to_i < 14 && task.status == false %>
                      <label class="column expire">期限</label>
                      <label class="urgent underline"><%= task.expired_at%></label>
                    <% else %>
                      <span class="column expire">期限</span>
                      <label><%= task.expired_at %></label>
                    <% end %>
                    <% task.created_at.strftime('%Y-%m-%d') %>
                    <% count = (task.expired_at - task.created_at.to_date).to_i %>
                    <% today = (task.expired_at - @date.tomorrow).to_i %>
                    <% if count > 0 || today > 0 %>
                      <% @expired_at_count = today*100/count %>
                    <% else %>
                      <% @expired_at_count = 0 %>
                    <% end %>
                    <label for="file" class="bar">
                      <progress id="file" max="100" value=<%= @expired_at_count %>></progress>
                    </label>
                  </div>

                  <div class="right-contents ml-auto" style="text-align:right;">
                    <%= link_to task, class: "link" do %><i class="bi bi-three-dots"></i>詳細<% end %>
                    <%= link_to edit_task_path(id:task.id, team_id:task.team_id), class: "link" do %><i class="bi bi-pencil-square"></i><% end %>
                    <%= link_to task, method: :delete, data: { confirm: '削除して良いですか？' }, class: "link" do %><i class="bi bi-trash3"></i><% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <%= paginate @tasks %>
        </div>
      </div>
    </div>
  </div>
</div>


<style>
.urgent{
  /* color: #F85B57; */
  /* font-weight:bold; */
}
label {
    padding-right: 10px;
    font-size: 1rem;
}
progress {
  -webkit-appearance: none;
}
::-webkit-progress-bar {
  background-color: #dadce0 ;
}
::-webkit-progress-value {
  background-color: #EC9592 ;
  }
.card{
  background-color:#ECDDD6;
  border: #fff;
}
.title{
  text-align:center;
  font-size:18px;
  color:#524f4f;
}
.card-task{
  background-color: #fff;
  margin: 10px;
  color:#50595B;
  border-radius:5px;
}
.card-body{
  color:#50595B;
}
.colmun{
  font-weight:bold;
}
.column.category{
  background-color:#8F989B;
  color:white;
  padding:2px;
  font-size:14px;
  margin-right: 5px;
}
.column.name{
  background-color: #4E889A;
  color:white;
  padding:2px;
  font-size:14px;
  margin-right:5px;
  /* margin:0 5px; */
}
.column.create{
  color:grey;
  padding:2px;
  font-size:14px;
  margin:0 5px;
}
.column.expire{
  background-color:#F37774;
  color:white;
  padding:2px;
  font-size:14px;
  margin-right:5px;
}
.card-header{
  /* display:flex; */
  position:relative;
}
.left-box{
  /* display:flex; */
}
.icon-box{
  /* margin-left: 10px; */
  background-color:#fff;
  height:20px;
}
.icon-box i{
  height: 50px;
}
.btn-secondary a{
  color:white;
}
.white{
  color:#fff;
}
.grey{
  color:grey;
}
.checkbox img{
  height:35px;
  margin-left:10px;
}
.checkbox img:hover{
  opacity:0.7;
}
.btn-red, .btn-red a{
  color:#fff;
}
.sort a{
  color:#638793;
}
.sort{
  margin-top:10px;
  margin-left:35px;
}
.team-reward{
  margin:0px 35px 25px;
  background-color:#fff;
  padding:2px 0 2px 0;
  display:flex;
}
ul{
  padding-bottom:0;
  margin-bottom:0;
}
.left-reward{
  padding-top:3px;
}
.reward{
  font-size:14px;
  color:#F37774;
  padding:5px;
  margin-right:5px;
}
.explanation{
  margin:10px;
  font-size:14px;
}
form{
  display:inline;
}
/* .mvp{
  background-color:#fff;
  border:1px solid #F37774;
} */
.mvp a:hover{
  opacity:0.7;
}
.mvp a{
  color:#F37774;
}
.team-info a{
  color:#59A6B0;
}
.team-info a:hover{
  opacity:0.7;
}
.red{
  color:#F37774;
}
.green{
  color:#59A6B0;
}
.underline{
  background: linear-gradient(transparent 80%, #ff99ab 80%);
}
.underline.thin{
  background: linear-gradient(transparent 90%, #ff99ab 90%);
}
.card-body.task{
  padding:8px;
  /* display:flex; */
}
.right-contents{
  padding:8px 8px 0 8px;
}
.bar{
  padding:8px 8px 0 8px;
}
.link{
  color:#7E8385;
  font-size:1.1rem;
}
.btn-outline-success{
  padding:3px 6px;
}
.btn-outline-success a{
  color:#4F92C2;
  font-size:14px;
}
.btn-outline-success a:hover{
  color:#fff;
}
.btn-outline-secondary{
  padding:3px 6px;
}
.btn-outline-secondary a{
  color:#F3A5A3;
  font-size:14px;
}
.btn-outline-secondary a:hover{
  color:#fff;
}
.right-box{
  /* display:flex; */
}
@media (max-width: 575.98px) {
  .bar{
    width:100%;
    margin-left:10px;
  }
  .card-body{
    padding:0;
  }
}

</style>