<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @task.category.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Expired at:</strong>
  <%= @task.expired_at %>
</p>

<% if @task.remarks != "" %>
  <p>
    <strong>Remarks:</strong>
    <%= @task.remarks %>
  </p>
<% end %>

<% if @task.image.url != nil %>
  <p>
    <strong>Image:</strong>
    <label class="image"><%= image_tag @task.image.url %></label>
  </p>
<% end %>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Repeat:</strong>
  <%= @task.repeat %>
</p>


<%= link_to 'Edit', edit_task_path(id:@task.id, team_id:@task.team_id) %> |
<%= link_to 'Back', team_tasks_path(@task.team_id) %>

<hr />
<p>コメント一覧</p>

  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments, task: @task } %>
  </div>
  <%= render partial: 'comments/form', locals: { comment: @comment, task: @task } %>
