<h2>Profile</h2>
<p>
    <strong>ユーザー名</strong>
    <%= @user.name %>
</p>
<p>
    <strong>emailアドレス</strong>
    <%= @user.email %>
</p>


<hr />

<strong>所属しているチーム</strong> <!--自分がつくったチームもしくは所属しているチームがあれば-->
<% if current_user.teams.first.present? || current_user.team_members.first.present? %>
<p>
    <% current_user.teams.each do |team| %> <!--所属するチーム名を全て表示-->
        <p>
            <%= team.name %>
            <%#= link_to "このチームに招待する", new_user_invitation_path(id: current_user.id, team_id: team.id) %>
        </p>
    <% end %>
    <% current_user.team_members.each do |team| %> <!--所属するチーム名を全て表示-->
        <p>
            <%= team.name %>
            <%#= link_to "このチームに招待する", new_user_invitation_path(id: current_user.id, team_id: team.id) %>
        </p>
    <% end %>
</p>
<% else %>
<%= link_to "チームに所属する", new_team_path%><br>
<% end %>
