<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-6 col-sm-10">
      <div class = "card">
        <div class="card-body">
          <h1>Login</h1>
          <p class="col-lg-12 title">- ログイン -</p>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <p>
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder =>  "メールアドレス" %>
              </p>
            </div>

            <div class="field">
              <p>
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "current-password", :placeholder =>  "パスワード" %>
              </p>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="field">
                <p>
                  <label class = "remember_me">
                    <%= f.check_box :remember_me %>
                  </label>
                  <%= f.label :remember_me %>
                </p>
              </div>
            <% end %>

            <div class="actions">
              <p>
                <label class = "sign_in">
                  <%= f.submit t('.sign_in'), id:'rspec-notice'%>
                </label>
              </p>
            </div>
          <% end %>
          <hr>
          <span class="back">
            <%= render "devise/shared/links" %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>


<style>
h1{
  text-align:center;
}
.title{
  text-align:center;
  font-size:18px;
  color:#524f4f;
}
input {
  width:100%;
}
.card{
  background-color:#ECDDD6;
  border: #fff;
  padding:10px;
}
input .remember_me{
  width: auto;
}
.sign_in{
  width:100%;
}
</style>