<h1>Categories#new</h1>
<div class="col-sm-12">
    <h2 class="text-center">カテゴリの追加</h2>
    <%= form_with(model: @category, local: true, url: team_categories_path(params[:team_id])) do |f| %>
        <div class="form_input">
            <%= f.label :name %>
            <%= f.text_field :name, class:"form-control" %>
        </div>
        <div class="form_action row">
            <%= f.submit "登録する", class: "btn col-sm-12 submit_btn" %>
        </div>
    <% end %>
</div>
<%= link_to "戻る", new_team_task_path%>