<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <h1>Creating a New Category</h1>
          <p class="col-lg-12 title">- カテゴリーの追加 -</p>
          <div>
            <%= form_with(model: @category, local: true, url: team_categories_path(params[:team_id])) do |f| %>
              <div class="form_input">
                <p>
                  <%= f.label :name %>
                  <%= f.text_field :name, class:"form-control", :placeholder => "新しいカテゴリーを入力してください(15文字以内)" %>
                </p>
              </div>
              <div class="form_action">
                <%= f.submit "登録する", class: "btn col-sm-12 submit_btn" %>
              </div>
            <% end %>
            <hr>
            <span class="back">
              <%= link_to "戻る", new_team_task_path%>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
.card{
  background-color:#ECDDD6;
  border: #fff;
  padding: 10px;
}
.title{
  text-align:center;
  font-size:18px;
  color:#524f4f;
}
input, textarea {
  width:100%;
}
.btn{
  background-color:grey;
  color:white;
}
.btn{
  background-color:grey;
  color:white;
}
.btn:hover{
  background-color:grey;
  opacity:0.7;
}
</style>