<!DOCTYPE html>
<html>
  <head>
    <title>TOPPA</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"><!--boostap-->
    <link rel="stylesheet" type="text/css" href="css/5-8.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Serif:ital,wght@1,400;1,700&family=Quicksand:wght@400;700&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class = "container-lg">
      <a class="navbar-brand" href="/">TOPPA!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <a class="nav-link active" href="#">
                <%= link_to 'myチーム/myタスク', teams_path(current_user) %>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <%= link_to 'プロフィール', user_path(current_user) %>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <% if current_user.admin? %>
                  <%= link_to "管理者画面", rails_admin_path %>
                <% end %>
              </a>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post %>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <%= link_to 'ゲスト管理者ログイン', users_admin_sign_in_path, method: :post %>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <%= link_to 'ログイン', new_user_session_path %>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <%= link_to 'サインアップ', new_user_registration_path %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
      </div>
    </nav>

    <div class = "container-lg">
      <% if notice %>
        <p class="alert alert-notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-error"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>

    <footer>
      <small>copyright 2022</small>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"   crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"   crossorigin="anonymous"></script>

  </body>
</html>

<style>
h1{
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Quicksand', sans-serif;
  color: #4E889A;
  font-weight: bold;
}
body{
  font-family: 'Noto Sans JP', sans-serif;
}
a {
  margin-right: 15px;
  text-decoration:none;
  color:#4E889A;
}
footer{
  position: absolute;
  bottom:0;
  text-align:center;
  height: 30px;
  background-color: #D9D9D9;
  width: 100%;
  color:grey;
  font-weight:700;
  font-family: 'Quicksand', sans-serif;
}
</style>